
/* Smaller than standard 960 (devices and browsers) LG + MD + SM + (XS) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers)  MD */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) SM + (XS) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) SM */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) (XS) */
@media only screen and (max-width: 479px) {}

/*gray e9ecef */


/* http://css-workshop.com/hover-box-text-over-images-on-hover-and-more/ */

/* ----- ALL DOCUMENT ----- */

* {
    /*font-family: 'Tajawal', sans-serif;*/
    font-family: "Helvetica";
}

hr {
    margin-top: 8px;
    margin-bottom: 0px;
}

main {
    margin-top: 10px; /* between header and main */
    margin-bottom: 10px; /* between main and footer */
}

a {
    text-decoration: none !important;
    color: #009490;
}

a.active,
a:hover{
    color: #e85c00 !important;
}

a .link-description{
    color: #000000 !important;
}

a:hover .link--description{
    color: #000000 !important;
}


.nav-link{
    border: none !important;
    color: #009490 !important;
    border-radius: 0px;
}

.nav-item.active .nav-link,
.nav-item:hover .nav-link {
    color: #e85c00 !important;

    /*box-shadow: inset 0 -3px #e85c00; /* to have the line effect*/
}

.btn{
    background-color: #009490;
    border: none !important;
    color: #ffffff !important;
}

.btn:hover{
    color: #ffffff !important;
    background-color: #e85c00;
}


.h-title{
    font-weight: 100;
    line-height: 1.2;
    color: #e85c00;
    /*border-bottom: 2px solid #e85c00;
    border-top: 2px solid #e85c00;*/
}

.h-title.white{
    color: #ffffff;
}




/* ----- ARROW ----- */

.arrow-down {
    width: 25px;
    height: 25px;
    position: relative;
}

.arrow-down:before, .arrow-down:after {
    content: "";
    display: block;
    width: 10px;
    height: 3px;
    background: #009490;
    position: absolute;
    top: 10px;
    transition: transform .5s;
}

a:hover .arrow-down:before,
a:hover .arrow-down:after{
    background: #e85c00;
}

.arrow-down:before {
    right: 11.5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transform: rotate(45deg);
}

.arrow-down:after {
    right: 5px;
    transform: rotate(-45deg);
}

.arrow-down.active:before {
    background: #e85c00;
    transform: rotate(-45deg);
}

.arrow-down.active:after {
    background: #e85c00;
    transform: rotate(45deg);
}


/* ----- TOP CONTENT ----- */

.top-content{
    box-shadow: 0 8px 6px -6px #999;
}

.upper-top-content{
    margin-top: 5px;
    display: flex;
    align-items: flex-end;
}

/* Logo home */
.logo-home img{
    height: 120px;
}

/* Logo donate */
.btn-donate{
    margin-right: 10px;
    max-width: 140px;
    font-size: 20px;
    background-color: #009490;
    color: #ffffff !important;
}


/* Navbar */
.navbar-custom{
    background-color: #ffffff !important;
}

.custom-toggler{
    outline: none !important;
}

button[aria-expanded="true"].custom-toggler{
    transform: rotate(180deg);
    transition: transform .25s ease;
}

button[aria-expanded="false"].custom-toggler{
    transform: rotate(0deg);
    transition: transform .25s ease;
}


.navbar-active{
    outline: none !important;
}

.navbar-custom .nav-item{
    font-size: 17px;
}

.navbar-custom .nav-item:hover,
.navbar-custom .nav-item.active{
    box-shadow: inset 0 -3px #e85c00;
}


@media only screen and (max-width: 767px){

    .navbar-custom .navbar-nav{
        background-color: #009490;
    }

    .navbar-custom .nav-item{
        background-color: #ffffff;
        padding-left: 10px;
        margin-bottom: 1px;
    }

    .navbar-custom .nav-item:hover,
    .navbar-custom .nav-item.active{
        box-shadow: inset +3px 0 #e85c00;
    }
}


/* Navbar toggler */
.custom-toggler.navbar-toggler{
    border-color: #009490;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#009490' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/* ----- BREADCRUMB ----- */

.breadcrumb-navbar{
    background-color: #e9ecef;
}

.breadcrumb-custom{
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 0px;
    margin-bottom: 8px;
}

.breadcrumb-custom .active{
    color: #e85c00;
}




/* ----- HOME ----- */

/* Carousel */

.carousel-item {
    height: 300px;
    background: no-repeat center center scroll;
    background-size: cover;
}

@media only screen and (min-width: 767px) {

    .carousel-item {
        height: 400px !important;
    }
}

.carousel-item .carousel-caption{
    background-color: #e9ecefe6;
    max-height: none;
    max-width: 250px;
    bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.carousel-indicators{  
    margin-bottom: -40px;
}

.carousel-indicators li {
    background-color: #009490;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.carousel-indicators li.active {
    background-color: #e85c00;
}

.btn-read-more{
    border: none;
    color: #ffffff !important;
}


/* Needed to show files under navbar correctlym - only if fixed navbar /*

/*#home{
padding-top: 65px;
}*/







/* ----- WHO-WE-ARE ----- */

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.image-wwa {
    width: 100%;
}




/* ----- SERVICES ----- */

.order-by-div{
    background-color: #e9ecef;
}


/* ----- SERVICE + LOCATION ----- */

.sidebar .nav-item{
    margin-top: 0px;
    margin-bottom: 0px;

}

.sidebar .nav-item:hover nav-link{
    color: #009490 !important;
}

.sidebar .nav-link{
    border-radius: 0px;
    color: #009490 !important;
    background-color: #e9ecef !important;
    margin-top: 2px;
}

.sidebar .nav-link.external{
    /*background-color: #3284ff;*/
}

.sidebar .nav-link.active {
    box-shadow: inset +3px 0px #e85c00; /* to have the line effect*/
    /*background-color: #e85c00;*/
    color: #e85c00 !important;
}

.sidebar .nav-item:hover .nav-link{
    color: #e85c00 !important;
    box-shadow: inset +3px 0 #e85c00; /* to have the line effect*/
    /*background-color: #ff8738;*/
}

.image-intro {
    max-width: 300px;
}



/* all cards */

.card-container,
.simple-card-container,
.little-card-container
.people-card-container{
    display: flex;
    align-items: stretch;
    
}

.card{
    border: none;
    height: 100%;
    box-shadow: 0 0 15px #dddddd;
    margin-left: auto;
    margin-right: auto;
}

.card-title-container{
    height: 30%;
    padding: 4px;
    display: table;
}

.card-title-container .card-title{
    vertical-align: middle;
    display: table-cell;
}


.card-img-container{
    height: 70%;
    overflow: hidden;
}

.card-img-container .card-img-top{
    height: 100%;
    object-fit: cover;
    transform: scale(1);
}

a:hover .card-img-container .card-img-top{
    transition: transform .25s ease;
    transform: scale(1.1);
}

/*  normal cards */

.card-container .card{
    max-width: 300px;
}


.card-container a:hover .card-img-top{
    transform: scale(1) !important; /* do not scale */
}

.card-container .card-description-container{
    position: absolute;
    bottom: 30%;
    height: 70%;
    width: 100%;
    background-color: #e85c00cc;
    display: flex;
}

.card-container .card-description{
    padding-left: 5%;
    padding-right: 5%;
    margin: auto;
    color: #ffffff;
}

/* home cards */

.home-card-container .card{
    max-width: 400px;
}

.home-card-container .card-img-container {
    height: 75%;
}

.home-card-container .card-title-container {
    height: 25%;
}

.home-card-container .card-description-container{
    bottom: 25%;
    height: 75%;
}



/* little cards */

.little-card-container{
    height: 120px;
}

.little-card-container .card{
    /*height: 100px;*/
    max-width: 180px;
    border: none !important;
}

.little-card-container .card-title-container {
    height: 50%;
}

.little-card-container .card-img-container {
    height: 50%;
}

.little-card-container .card-img-top{
    filter: grayscale();
    transform: scale(1);
}

@media only screen and (min-width: 767px) {

    .little-card-container {
        height: 170px;
    }


}


.little-card-container .card.active{
    color: #e85c00 !important;
}


.little-card-container .card.active .card-img-top,
.little-card-container a:hover .card-img-top{
    filter: none !important;
    transition: transform .25s ease;
    transform: scale(1.1);
}


/* background */

.top-background {
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
    height: 170px;
}

@media only screen and (min-width: 767px) {
    .top-background {
        height:  220px !important;
        padding-bottom: 50px;
    }
}

#locations-bg{
    background: url(../img/locations/locations-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#location-bg{
    background: url(../img/locations/location-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#services-bg{
    background: url(../img/services/services-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


#service-bg{
    background: url(../img/services/service-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#people-bg{
    background: url(../img/people/people-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#person-bg{
    background: url(../img/people/person-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#whoWeAre-bg{
    background: url(../img/whoWeAre/whoWeAre-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.top-background-title{
    text-transform: uppercase;
    font-weight: 100;
    line-height: 1.35;
    color: #009490;
    background-color: #ffffffd9;
    padding: 3px 0px 3px 0px;
}


/* people */

.people-card-container{
    height: 360px; 
}

.people-card-container .card{
    box-shadow: none;
}


.people-card-container .card-img-container{
    height: 80%;
    overflow: visible;
    align-items: center;

}

.people-card-container .card-img-container .card-img-top{
    transform: scale(0.85);

    /* It is 62.5% of  ".people-card-container [height]" */
    /* to make image as a perfect circle */
    width: 288px;
    height: 288px;
    border-radius: 100%;

    box-shadow: 0 0 15px #dddddd;
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) SM */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .people-card-container{
        height: 300px; 
    }
    .people-card-container .card-img-container .card-img-top{
        width: 240px;
        height: 240px;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) (XS) */
@media only screen and (max-width: 479px) {
    .people-card-container{
        height: 420px; 
    }
    .people-card-container .card-img-container .card-img-top{
        width: 336px;
        height: 336px;
    }
}

.people-card-container .card:hover .card-img-container .card-img-top{
    transform: scale(0.95);
}

.people-card-container .card-title-container{
    height: 20%;
}

.people-card-container .card-description-container{
    display: flex;
    bottom: 25%;
    height: 15%;
    width: 100%;
    background: linear-gradient(to right, #ffffffca 10%,#e85c00ca 35%,#e85c00ca 65%,#ffffffca 90%,#ffffffca 100%);
}

.people-card-container .card-description-container .card-description{
    margin: auto;
}








/* person */

.table-person tr td{
    padding-left: 10px;
    padding-right: 10px;
}

.table-person tr{
    border-bottom: 1px solid;
    border-color: #0000001A;
}

.table-person td{
    font-size: 25px;
    padding-top: 20px;
}

.table-person .entry-info{
    vertical-align: top;
    font-weight: 100;
    width: 180px;
}

.table-person tr#last{
    border-bottom: none;
}

.fa-person .fa {
    font-size: 40px !important;
}










/* ----- FOOTER ----- */

.footer-custom {
    bottom: 0;
    width: 100%;
    min-height: 60px; /* Set the fixed height of the footer here */
    box-shadow: 0 50vh 0 50vh #e9ecef; /* To enlarge the footer until the bottom of the window */
    /*line-height: 60px; /* Vertically center the text there */
    background-color: #e9ecef;
}

/* Style all font awesome icons */
.fa {
    padding: 4px;
    font-size: 30px;
    height: inherit;
    text-align: center;
    text-decoration: none;
    color: #009490;
}

.fa:hover{
    text-decoration: none;
    color: #e85c00;
    transform: scale(1.2);
    transition: transform .25s ease;
}


/* Footer navbars */
.navbar-footer-custom .nav-item{
    font-size: 17px;
}

.navbar-footer-custom .navbar-nav .nav-link{
    background-color: inherit !important;
}

.navbar-footer-custom .nav-item:hover .nav-link {
    box-shadow: none !important; /* to have the line effect*/
}

