
/* Smaller than standard 960 (devices and browsers) LG + MD + SM + (XS) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers)  MD */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) SM + (XS) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) SM */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) (XS) */
@media only screen and (max-width: 479px) {}



/* ----- ALL DOC ----- */

* {
    /*font-family: 'Tajawal', sans-serif;*/
    font-family: "Helvetica";
}

hr {
    margin-top: 8px;
    margin-bottom: 0px;
}

main {
    margin-top: 10px; /* between header and main */
    margin-bottom: 10px; /* between main and footer */
}

a {
    text-decoration: none !important;
    color: #0066ff;
}

a:hover{
    color: #ff6600 !important;
}

a .link-description{
    color: #000000 !important;
}

a:hover .link--description{
    color: #000000 !important;
}


.nav-link{
    border: none !important;
    color: #0066ff !important;
    border-radius: 0px;
}

.nav-item.active .nav-link,
.nav-item:hover .nav-link {
    color: #ff6600 !important;
    
    /*box-shadow: inset 0 -3px #ff6600; /* to have the line effect*/
}

.btn{
    background-color: #0066ff;
    border: none !important;
    color: #ffffff !important;
}


.btn:hover{
    color: #ffffff !important;
    background-color: #ff6600;
}

.card-img-top{
    width: 100%;
    /*height: 15vw;*/
    object-fit: cover;
}


/* ----- TOP CONTENT ----- */

.top-content{
    box-shadow: 0 8px 6px -6px #999;
}

.upper-top-content{
    margin-top: 5px;
    display: flex;
    align-items: flex-end;
}

/* Logo home */
.logo-home img{
    height: 120px;
}

/* Logo donate */
.btn-donate{
    margin-right: 10px;
    max-width: 140px;
    font-size: 20px;
    background-color: #0066ff;
    color: #ffffff !important;
}


/* Navbar */
.navbar-custom{
    background-color: #ffffff !important;
}


/* Navbar toggler */
.custom-toggler.navbar-toggler{
    border-color: #0066ff;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 102, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/* ----- BREADCRUMB ----- */

.breadcrumb-navbar{
    background-color: #e9ecef;
}

.breadcrumb-custom{
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 0px;
    margin-bottom: 8px;
}

.breadcrumb-custom .active{
    color: #ff6600;
}




/* ----- HOME ----- */

/* Carousel */

.carousel-item {
  height: 300px;
  background: no-repeat center center scroll;
  background-size: cover;
}

@media only screen and (min-width: 767px) {
    
    .carousel-item {
        height: 400px !important;
    }
}

.carousel-item .carousel-caption{
    background-color: #e9ecefe6;
    max-height: none;
    width: 250px;
    bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.carousel-item .carousel-caption *{
    color: black;
}

.carousel-indicators{  
    margin-bottom: 0px;
}

.carousel-indicators li {
    background-color: #0066ff;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.carousel-indicators li.active {
    background-color: #ff6600;
}

.btn-read-more{
    border: none;
    color: #ffffff !important;
}


/* Needed to show files under navbar correctlym - only if fixed navbar /*

/*#home{
    padding-top: 65px;
}*/




/* ----- SERVICE + LOCATION ----- */

.sidebar .nav-item{
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebar .nav-link{
    border-radius: 0px;
    color: #ffffff !important;
    background-color: #0066ff;
}

.sidebar .nav-item .active {
    /*box-shadow: inset 0 -3px #ff6600; /* to have the line effect*/
    background-color: #ff6600;
}

.sidebar .nav-link:hover {
    color: #ffffff !important;
    /*box-shadow: inset 0 -3px #ff6600; /* to have the line effect*/
    background-color: #ff6600;
}

.image-intro {
    max-width: 300px;
}

.card-container,
.simple-card-container,
.little-card-container{
    display: flex;
    align-items: stretch;
}

.simple-card-container .card-img-top {
    height: 70%;
}


.little-card-container{
    max-height: auto;
}

.little-card-container .card{
    /*height: 100px;*/
    border: none !important;
}
.little-card-container .card-img-top {
    height: 40%;
    filter: grayscale(100%);
}

@media only screen and (min-width: 767px) {
    
    .little-card-container .card-img-top {
        height: 60% !important;
    }
}


.little-card-container .card.active{
    color: #ff6600 !important;
}

.little-card-container .card.active .card-img-top,
.little-card-container a:hover .card-img-top{
    filter: none !important;
}

.top-background {
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
    height: 150px;
}

@media only screen and (min-width: 767px) {
    .top-background {
        height:  220px !important;
        padding-bottom: 50px;
    }
}

#location-bg{
    background: url(../img/locations/location-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#service-bg{
    background: url(../img/services/service-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#person-bg{
    background: url(../img/people/person-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.top-background-title{
    text-transform: uppercase;
    font-weight: 100;
    font-size: 
    line-height: 1.7;
    color: #0066ff;
    background-color: #ffffffd9;
    padding: 3px 8px 3px 8px;
}


/* people */

.table-person tr td{
    padding-left: 10px;
    padding-right: 10px;
}

.table-person tr{
    border-bottom: 1px solid;
    border-color: #0000001A;
}

.table-person td{
    font-size: 25px;
    padding-top: 20px;
}

.table-person .entry-info{
    vertical-align: top;
    font-weight: 100;
    width: 180px;
}

.table-person tr#last{
    border-bottom: none;
}

.fa-person .fa {
    font-size: 40px !important;
}










/* ----- FOOTER ----- */

.footer-custom {
    bottom: 0;
    width: 100%;
    min-height: 60px; /* Set the fixed height of the footer here */
    box-shadow: 0 50vh 0 50vh #e9ecef; /* To enlarge the footer until the bottom of the window */
    /*line-height: 60px; /* Vertically center the text there */
    background-color: #e9ecef;
}

/* Style all font awesome icons */
.fa {
    padding: 4px;
    font-size: 30px;
    height: inherit;
    text-align: center;
    text-decoration: none;
    color: #0066ff;
}

.fa:hover{
    text-decoration: none;
    color: #ff6600;
}


/* Footer navbars */
.navbar-footer-custom .navbar-nav .nav-link{
    background-color: inherit !important;
}

.navbar-footer-custom .nav-item:hover .nav-link {
    box-shadow: none !important; /* to have the line effect*/
}

